.terms {
  padding: 50px 150px;
}

.terms__title {
  font-size: 45px;
  font-weight: 700;
  text-align: left;
  color: var(--bgcolor-b);
  margin-bottom: 70px;
}
.terms__block {
  border-radius: 30px;
  box-shadow: 0px -1px 1px 0px rgba(0, 0, 0, 0.25);
}

.choise__btn {
  width: 50%;
  height: 120px;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 10px;
}

.choise__btn--active {
  color: var(--bgcolor-w);
  background-color: var(--bgcolor-b);
  border-radius: 30px;
  border-bottom-right-radius: 0;
}

.contract {
  padding: 10px 0;
  margin-bottom: 50px;
}

.contract__label {
  margin-top: 25px;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 700;
}

.contract__text {
  font-size: 25px;
  text-align: justify;
}

.warnings__title {
  font-size: 40px;
  color: var(--text-color-bl);
  margin-bottom: 5px;
}

.warnings p {
  font-size: 20px;
  text-align: justify;
}

.warnings .warnings-main {
  font-size: 25px;
  text-align: justify;
  margin-top: 80px;
  margin-bottom: 5px;
}

.warnings__list {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 25px;
}
.warnings__list:nth-of-type(2) {
  margin-bottom: 0;
}
.warnings__list li {
  font-size: 20px;
  text-align: justify;
}
