<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Kanit&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../main.css" />
    <title>HopeGroup How to Take</title>
  </head>
  <body>
    <header>
      <div class="wrapper">
        <a class="logo" href="/">
          <img
            class="logo__image"
            src="../../assets/Logo-black.png"
            alt="logo"
            width="36"
            height="48"
          />
          <p class="logo__text">opeGroup</p>
        </a>
        <div>
          <button class="burger">
            <span class="burger__line burger__main"></span>
            <span class="burger__line"></span>
            <span class="burger__line"></span>
          </button>
        </div>
        <nav>
          <ul class="nav__list">
            <li><a href="../../investPage.html">Invest</a></li>
            <li><a href="../../creditPage.html">Credit</a></li>
            <li><a href="/">Support</a></li>
            <li><a href="./aboutUs.html">About</a></li>
            <li>
              <a href="../../mainLogin.html">Sign up</a>
            </li>

            <li>
              <a class="signup" href="../../mainLogin.html">Sign up</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <section class="company">
        <h2 class="company__title">
          <span>HopeGroup</span>- сервіс онлайн позик, який вирішить ваші
          термінові фінансові проблеми швидко і просто
        </h2>
        <h3>Наш сервіс забезпечує наступне:</h3>
        <ul class="company__list">
          <li>
            <img
              src="../../assets/aboutUs-time.png"
              alt="aboutUs-time"
              width="65"
            />
            <p>Швидке оформлення кредиту</p>
          </li>
          <li>
            <img
              src="../../assets/aboutUs-tags.png"
              alt="aboutUs-time"
              width="65"
            />
            <p>HopeGroup доступний по всій Україні</p>
          </li>
          <li>
            <img
              src="../../assets/aboutUs-world.png"
              alt="aboutUs-time"
              width="65"
            />
            <p>Усі операції онлайн, без офісного візиту</p>
          </li>
          <li>
            <img
              src="../../assets/aboutUs-proccent.png"
              alt="aboutUs-time"
              width="65"
            />
            <p>
              Знижена процентна ставка 0,01% на день для першого кредиту на
              обраний період
            </p>
          </li>
          <li>
            <img
              src="../../assets/aboutUs-docs.png"
              alt="aboutUs-time"
              width="65"
            />
            <p>
              Оформлення за умови надання мінімальної інформації та документів
              від споживача
            </p>
          </li>
        </ul>
      </section>
      <section class="guarantees">
        <h3 class="guarantees__title">Гарантії та конфіденційність:</h3>
        <div>
          <p class="guarantees__text guarantees__text--left">
            Взаємини між Товариством та споживачами регулюються законодавством
            України й документами, з якими ви можете ознайомитися на нашому
            сайті в розділі «Документи».
          </p>
          <button class="guarantees__button guarantees__button-right">
            Документи
          </button>
        </div>
        <div>
          <p class="guarantees__text guarantees__text--right">
            Інформація про надання Товариством фінансових послуг споживачам,
            зокрема істотних характеристик та умов надання кредитних продуктів,
            доступна в розділі «Кредитні продукти».
          </p>
          <button class="guarantees__button guarantees__button-left">
            Кредитні продукти
          </button>
        </div>
      </section>
      <section class="adress">
        <ul class="adress__list">
          <li>
            <p class="adress__label">Адреса</p>
            <p class="adress__text">
              03062, м. Київ, проспект Берестейський 90-А
            </p>
          </li>
          <li>
            <p class="adress__label">Телефон гарячої лінії</p>
            <p class="adress__text">
              0 (800) 753-363 <br />(безкоштовно по Україні)
            </p>
            <p class="adress__label">E-mail</p>
            <p class="adress__text">tututata@hopeGroup</p>
          </li>
          <li>
            <p class="adress__label">Графік роботи</p>
            <p class="adress__text">Понеділок — четвер: 9:00-18:00</p>
            <p class="adress__text">П'ятниця: 9:00-16:45</p>
            <p class="adress__text">Перерва: 13:00-13:45</p>
          </li>
        </ul>
      </section>
    </main>
    <footer>
      <div class="wrapper-bottom">
        <div class="container footer__logo">
          <a class="logo" href="/">
            <img
              src="../../assets/Logo-white.png"
              alt="logo"
              width="36"
              height="48"
            />
            <p class="logo__text">opeGroup</p>
          </a>
          <ul class="social">
            <li>
              <a class="social__link" href="/">
                <svg class="social__icon" width="43" height="29">
                  <use href="./assets/icons.svg#telegram"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="social__link" href="/">
                <svg class="social__icon" width="43" height="29">
                  <use href="./assets/icons.svg#instagram"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="social__link" href="/">
                <svg class="social__icon" width="43" height="29">
                  <use href="./assets/icons.svg#youtube"></use>
                </svg>
              </a>
            </li>
          </ul>
          <ul class="help">
            <li>
              <a href="" class="help__link">Жалоба? Вам сюда!</a>
            </li>
            <li><a href="" class="help__link">Сообщить о мошенничестве</a></li>
            <li>
              <a href="" class="help__link"
                >Не хватает денег на оплату кредита</a
              >
            </li>
          </ul>
        </div>
        <div class="container">
          <div>
            <h3 class="container__title">Вопросы</h3>
            <button class="container__button">
              <img
                src="./assets/btn-line.png"
                alt="line"
                width="20"
                height="15"
              />
            </button>
          </div>
          <ul class="container__list">
            <li><a class="container__link" href="/">Часто задаваемые</a></li>
            <li><a class="container__link" href="/">Тарифы</a></li>
            <li><a class="container__link" href="/">Акции</a></li>
            <li><a class="container__link" href="/">Поддержка</a></li>
            <li><a class="container__link" href="/">Отзывы клиентов</a></li>
          </ul>
        </div>
        <div class="container">
          <div>
            <h3 class="container__title">Контакты</h3>
            <button class="container__button">
              <img
                src="./assets/btn-line.png"
                alt="line"
                width="20"
                height="15"
              />
            </button>
          </div>
          <ul class="container__list">
            <li>
              <a
                class="container__link container-contact"
                href="tel:08008675637"
                >0 800 867 56 37</a
              >
              <p class="container__text">
                Специалисты нашего колл-центра готовы помочь вам с с 6:00 до
                20:00
              </p>
            </li>
            <li>
              <a
                class="container__link container-contact"
                href="mailto:info@hope.group"
                >info@hope.group</a
              >
            </li>
            <li>
              <ul class="social-desktop">
                <li>
                  <a class="social__link" href="/">
                    <svg class="social__icon" width="43" height="29">
                      <use href="./assets/icons.svg#telegram"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a class="social__link" href="/">
                    <svg class="social__icon" width="43" height="29">
                      <use href="./assets/icons.svg#instagram"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a class="social__link" href="/">
                    <svg class="social__icon" width="43" height="29">
                      <use href="./assets/icons.svg#youtube"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <p class="container__adress-title">Адрес</p>
              <p class="container__adress">
                00601, г. Киев, Улица Твоеймамы, 66, офис 000
              </p>
            </li>
          </ul>
        </div>
        <div class="container">
          <div>
            <h3 class="container__title">Документация</h3>
            <button class="container__button">
              <img
                src="./assets/btn-line.png"
                alt="line"
                width="20"
                height="15"
              />
            </button>
          </div>
          <ul class="container__list">
            <li><a class="container__link" href="/">Условия договора</a></li>
            <li>
              <a class="container__link" href="/"
                >Политика конфиденциальности персональных данных</a
              >
            </li>
            <li>
              <a class="container__link" href="/">Условия реструктуризации</a>
            </li>
            <li><a class="container__link" href="/">Образцы заявлений</a></li>
            <li><a class="container__link" href="/">Реквизиты</a></li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>
