<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Kanit&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../main.css" />
    <title>HopeGroup News</title>
  </head>
  <body>
    <header>
      <div class="wrapper">
        <a class="logo" href="/">
          <img
            class="logo__image"
            src="../../assets/Logo-black.png"
            alt="logo"
            width="36"
            height="48"
          />
          <p class="logo__text">opeGroup</p>
        </a>
        <div>
          <button class="burger">
            <span class="burger__line burger__main"></span>
            <span class="burger__line"></span>
            <span class="burger__line"></span>
          </button>
        </div>
        <nav>
          <ul class="nav__list">
            <li><a href="../../investPage.html">Invest</a></li>
            <li><a href="../../creditPage.html">Credit</a></li>
            <li><a href="/">Support</a></li>
            <li><a href="./aboutUs.html">About</a></li>
            <li>
              <a href="../../mainLogin.html">Sign up</a>
            </li>

            <li>
              <a class="signup" href="mainLogin.html">Sign up</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <section class="docs">
        <h2 class="docs__title">Документи</h2>
        <div>
          <ul class="docs__list">
            <li><a href="/" class="docs__link">Умови та правила</a></li>
            <li>
              <a href="/" class="docs__link">Тарифи до Умов та правил</a>
            </li>
            <li>
              <a href="/" class="docs__link"
                >Тарифи за послугами з прийому платежів</a
              >
            </li>
            <li>
              <a href="/" class="docs__link">Анкети-заяви + запевнення</a>
            </li>
            <li>
              <a href="/" class="docs__link"
                >Звітність та показники діяльності</a
              >
            </li>
            <li><a href="/" class="docs__link">Ліцензія</a></li>
          </ul>
        </div>
        <button class="docs__btn">Архів документів</button>
      </section>
    </main>
    <footer>
      <div class="wrapper-bottom">
        <div class="container footer__logo">
          <a class="logo" href="/">
            <img
              src="../../assets/Logo-white.png"
              alt="logo"
              width="36"
              height="48"
            />
            <p class="logo__text">opeGroup</p>
          </a>
          <ul class="social">
            <li>
              <a class="social__link" href="/">
                <svg class="social__icon" width="43" height="29">
                  <use href="./assets/icons.svg#telegram"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="social__link" href="/">
                <svg class="social__icon" width="43" height="29">
                  <use href="./assets/icons.svg#instagram"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="social__link" href="/">
                <svg class="social__icon" width="43" height="29">
                  <use href="./assets/icons.svg#youtube"></use>
                </svg>
              </a>
            </li>
          </ul>
          <ul class="help">
            <li>
              <a href="" class="help__link">Жалоба? Вам сюда!</a>
            </li>
            <li><a href="" class="help__link">Сообщить о мошенничестве</a></li>
            <li>
              <a href="" class="help__link"
                >Не хватает денег на оплату кредита</a
              >
            </li>
          </ul>
        </div>
        <div class="container">
          <div>
            <h3 class="container__title">Вопросы</h3>
            <button class="container__button">
              <img
                src="./assets/btn-line.png"
                alt="line"
                width="20"
                height="15"
              />
            </button>
          </div>
          <ul class="container__list">
            <li><a class="container__link" href="/">Часто задаваемые</a></li>
            <li><a class="container__link" href="/">Тарифы</a></li>
            <li><a class="container__link" href="/">Акции</a></li>
            <li><a class="container__link" href="/">Поддержка</a></li>
            <li><a class="container__link" href="/">Отзывы клиентов</a></li>
          </ul>
        </div>
        <div class="container">
          <div>
            <h3 class="container__title">Контакты</h3>
            <button class="container__button">
              <img
                src="./assets/btn-line.png"
                alt="line"
                width="20"
                height="15"
              />
            </button>
          </div>
          <ul class="container__list">
            <li>
              <a
                class="container__link container-contact"
                href="tel:08008675637"
                >0 800 867 56 37</a
              >
              <p class="container__text">
                Специалисты нашего колл-центра готовы помочь вам с с 6:00 до
                20:00
              </p>
            </li>
            <li>
              <a
                class="container__link container-contact"
                href="mailto:info@hope.group"
                >info@hope.group</a
              >
            </li>
            <li>
              <ul class="social-desktop">
                <li>
                  <a class="social__link" href="/">
                    <svg class="social__icon" width="43" height="29">
                      <use href="./assets/icons.svg#telegram"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a class="social__link" href="/">
                    <svg class="social__icon" width="43" height="29">
                      <use href="./assets/icons.svg#instagram"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a class="social__link" href="/">
                    <svg class="social__icon" width="43" height="29">
                      <use href="./assets/icons.svg#youtube"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <p class="container__adress-title">Адрес</p>
              <p class="container__adress">
                00601, г. Киев, Улица Твоеймамы, 66, офис 000
              </p>
            </li>
          </ul>
        </div>
        <div class="container">
          <div>
            <h3 class="container__title">Документация</h3>
            <button class="container__button">
              <img
                src="./assets/btn-line.png"
                alt="line"
                width="20"
                height="15"
              />
            </button>
          </div>
          <ul class="container__list">
            <li><a class="container__link" href="/">Условия договора</a></li>
            <li>
              <a class="container__link" href="/"
                >Политика конфиденциальности персональных данных</a
              >
            </li>
            <li>
              <a class="container__link" href="/">Условия реструктуризации</a>
            </li>
            <li><a class="container__link" href="/">Образцы заявлений</a></li>
            <li><a class="container__link" href="/">Реквизиты</a></li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>
