<section class="auth">
  <h2 class="auth__title bank">
    Реєстрація банківської картки для зарахування грошей
  </h2>
  <div class="steps">
    <span class="steps__number done"
      ><img src="../assets/Checked.png" alt="checked" width="20" height="16"
    /></span>
    <span class="steps__line"></span>
    <span class="steps__number done"
      ><img src="../assets/Checked.png" alt="checked" width="20" height="16"
    /></span>
    <span class="steps__line"></span>
    <span class="steps__number">3</span>
  </div>
  <form class="form" action="">
    <label class="form__label"
      ><p>Номер картки</p>
      <input class="form__input" type="number" />
    </label>
    <div class="form__bank">
      <label class="form__label"
        ><p>Термін дії</p>
        <input class="form__input" type="number" />
      </label>
      <label class="form__label cvv"
        ><p>CVV</p>
        <button type="button">
          <img src="./assets/secret.png" alt="eye" width="25" height="15" />
        </button>
        <input class="form__input" type="number" />
      </label>
    </div>
    <button class="submit" type="submit">Далі</button>
  </form>
</section>
