<section class="auth">
  <h2 class="auth__title">Адреса реєстрації</h2>
  <div class="steps">
    <span class="steps__number done"
      ><img src="../assets/Checked.png" alt="checked" width="20" height="16"
    /></span>
    <span class="steps__line"></span>
    <span class="steps__number">2</span>
    <span class="steps__line"></span>
    <span class="steps__number">3</span>
  </div>
  <form class="form" action="">
    <label class="form__label"
      ><p>Тип зайнятості</p>
      <input class="form__input" type="text" />
    </label>
    <label class="form__label"
      ><p>Дохід на місяць(грн)</p>
      <input class="form__input" type="number" />
    </label>
    <button class="submit" type="submit">Далі</button>
    <div>
      <input type="checkbox" id="checkbox" name="checkbox" />
      <label class="checkbox__text" for="old-card">Я хороша людина </label>
    </div>
  </form>
</section>
