.news {
  padding: 10px 0;
}

.news__title {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: var(--text-color-bl);
}

.news__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.news__list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid black;
}
.news__list img {
  border-radius: 10px;
  margin-bottom: 10px;
}

.news__list-title {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 15px;
}

.news__list-text {
  font-size: 14px;
  font-weight: 300;
  text-align: center;
}

.news__pagination {
  display: flex;
  justify-content: space-between;
}
.news__pagination li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 25px;
  border: 1px solid rgba(58, 102, 146, 0.58);
  padding: 1px;
  border-radius: 8px;
  margin-bottom: 10px;
}
.news__pagination-btn {
  font-family: Kanit, sans-serif;
  font-size: 12px;
  color: var(--text-color-bl);
  height: 25px;
  width: 25px;
  padding: 0;
}
